WebService.Real/App_WebReferences/PADService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LastSyncTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BindTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BindTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountriesList">
        <s:complexType />
      </s:element>
      <s:element name="GetCountriesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountriesListResult" type="tns:ArrayOfOut_Country" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOut_Country">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Out_Country" nillable="true" type="tns:Out_Country" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Out_Country">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Country_IDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatesListResult" type="tns:ArrayOfOut_State" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOut_State">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Out_State" nillable="true" type="tns:Out_State" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Out_State">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCitiesListbyStateCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitiesListbyStateCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesListbyStateCountryResult" type="tns:ArrayOfOut_City" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOut_City">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Out_City" nillable="true" type="tns:Out_City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Out_City">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult" type="tns:ArrayOfOut_City" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCenters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CityID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCentersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCentersResult" type="tns:ArrayOfOut_Center" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOut_Center">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Out_Center" nillable="true" type="tns:Out_Center" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Out_Center">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Center" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_x0020_Incharge_x0020_Image">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BKPADNO" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_Incharge_x0020_ImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_x0020_Incharge_x0020_ImageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DBNull" />
      <s:element name="Get_x0020_Centre_x0020_Image">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BKPADNO" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_Centre_x0020_ImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_x0020_Centre_x0020_ImageResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BindTableSoapIn">
    <wsdl:part name="parameters" element="tns:BindTable" />
  </wsdl:message>
  <wsdl:message name="BindTableSoapOut">
    <wsdl:part name="parameters" element="tns:BindTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountriesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountriesList" />
  </wsdl:message>
  <wsdl:message name="GetCountriesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountriesListResponse" />
  </wsdl:message>
  <wsdl:message name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDSoapIn">
    <wsdl:part name="parameters" element="tns:Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID" />
  </wsdl:message>
  <wsdl:message name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDSoapOut">
    <wsdl:part name="parameters" element="tns:Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatesList" />
  </wsdl:message>
  <wsdl:message name="GetStatesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatesListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesListbyStateCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetCitiesListbyStateCountry" />
  </wsdl:message>
  <wsdl:message name="GetCitiesListbyStateCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesListbyStateCountryResponse" />
  </wsdl:message>
  <wsdl:message name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountrySoapIn">
    <wsdl:part name="parameters" element="tns:Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country" />
  </wsdl:message>
  <wsdl:message name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountrySoapOut">
    <wsdl:part name="parameters" element="tns:Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountryResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCentersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCenters" />
  </wsdl:message>
  <wsdl:message name="GetCentersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCentersResponse" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_Incharge_x0020_ImageSoapIn">
    <wsdl:part name="parameters" element="tns:Get_x0020_Incharge_x0020_Image" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_Incharge_x0020_ImageSoapOut">
    <wsdl:part name="parameters" element="tns:Get_x0020_Incharge_x0020_ImageResponse" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_Centre_x0020_ImageSoapIn">
    <wsdl:part name="parameters" element="tns:Get_x0020_Centre_x0020_Image" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_Centre_x0020_ImageSoapOut">
    <wsdl:part name="parameters" element="tns:Get_x0020_Centre_x0020_ImageResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BindTable">
      <wsdl:input message="tns:BindTableSoapIn" />
      <wsdl:output message="tns:BindTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <wsdl:input message="tns:GetCountriesListSoapIn" />
      <wsdl:output message="tns:GetCountriesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountriesByID">
      <wsdl:input name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID" message="tns:Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDSoapIn" />
      <wsdl:output name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID" message="tns:Returns_x0020_Countries_x0020_by_x0020_specific_x0020_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatesList">
      <wsdl:input message="tns:GetStatesListSoapIn" />
      <wsdl:output message="tns:GetStatesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesListbyStateCountry">
      <wsdl:input message="tns:GetCitiesListbyStateCountrySoapIn" />
      <wsdl:output message="tns:GetCitiesListbyStateCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesListByCountry">
      <wsdl:input name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country" message="tns:Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountrySoapIn" />
      <wsdl:output name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country" message="tns:Returns_x0020_Cities_x0020_for_x0020_specified_x0020_CountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCenters">
      <wsdl:input message="tns:GetCentersSoapIn" />
      <wsdl:output message="tns:GetCentersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInchargeImage">
      <wsdl:input name="Get_x0020_Incharge_x0020_Image" message="tns:Get_x0020_Incharge_x0020_ImageSoapIn" />
      <wsdl:output name="Get_x0020_Incharge_x0020_Image" message="tns:Get_x0020_Incharge_x0020_ImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCentreImage">
      <wsdl:input name="Get_x0020_Centre_x0020_Image" message="tns:Get_x0020_Centre_x0020_ImageSoapIn" />
      <wsdl:output name="Get_x0020_Centre_x0020_Image" message="tns:Get_x0020_Centre_x0020_ImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindTable">
      <soap:operation soapAction="http://tempuri.org/BindTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <soap:operation soapAction="http://tempuri.org/GetCountriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesByID">
      <soap:operation soapAction="http://tempuri.org/Returns Countries by specific ID" style="document" />
      <wsdl:input name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatesList">
      <soap:operation soapAction="http://tempuri.org/GetStatesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesListbyStateCountry">
      <soap:operation soapAction="http://tempuri.org/GetCitiesListbyStateCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesListByCountry">
      <soap:operation soapAction="http://tempuri.org/Returns Cities for specified Country" style="document" />
      <wsdl:input name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCenters">
      <soap:operation soapAction="http://tempuri.org/GetCenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInchargeImage">
      <soap:operation soapAction="http://tempuri.org/Get Incharge Image" style="document" />
      <wsdl:input name="Get_x0020_Incharge_x0020_Image">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_Incharge_x0020_Image">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentreImage">
      <soap:operation soapAction="http://tempuri.org/Get Centre Image" style="document" />
      <wsdl:input name="Get_x0020_Centre_x0020_Image">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_Centre_x0020_Image">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindTable">
      <soap12:operation soapAction="http://tempuri.org/BindTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesList">
      <soap12:operation soapAction="http://tempuri.org/GetCountriesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountriesByID">
      <soap12:operation soapAction="http://tempuri.org/Returns Countries by specific ID" style="document" />
      <wsdl:input name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Returns_x0020_Countries_x0020_by_x0020_specific_x0020_ID">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatesList">
      <soap12:operation soapAction="http://tempuri.org/GetStatesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesListbyStateCountry">
      <soap12:operation soapAction="http://tempuri.org/GetCitiesListbyStateCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesListByCountry">
      <soap12:operation soapAction="http://tempuri.org/Returns Cities for specified Country" style="document" />
      <wsdl:input name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Returns_x0020_Cities_x0020_for_x0020_specified_x0020_Country">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCenters">
      <soap12:operation soapAction="http://tempuri.org/GetCenters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInchargeImage">
      <soap12:operation soapAction="http://tempuri.org/Get Incharge Image" style="document" />
      <wsdl:input name="Get_x0020_Incharge_x0020_Image">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_Incharge_x0020_Image">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentreImage">
      <soap12:operation soapAction="http://tempuri.org/Get Centre Image" style="document" />
      <wsdl:input name="Get_x0020_Centre_x0020_Image">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_Centre_x0020_Image">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.5.9/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.5.9/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>